 @import "./../variables.scss";
 @import "./../mixins.scss";

.evala-list{
   padding: 0 20px;
   margin: 20px 0 60px 0;
}

.data-created{
    display: block;
    font-size: 11px;
    font-weight: 600;
}
 .avatar{
    display: block;
    width: 50px;
    height: 50px;
    overflow: hidden;
    float: left;
    margin: 12px 0 0;

     @include breakpoint(xs) {
        width: 38px;
        height: 38px;
        margin: 20px 0 0;
    }
}
.text-container{
    margin-left: 70px;
    right: 0;
    min-height: 74px;
    padding-bottom: 8px;
    border-bottom: 1px solid #ccc;
    padding-top: 8px;

    @include breakpoint(xs) {
      margin-left: 50px;
    }
}
.text-container p{
    margin-bottom: 4px;
    font-size: 15px;
    font-weight: 600;

    
    @include breakpoint(xs) {
      margin-bottom: 0;
      font-size: 14px;
    }

    a{
        color: $text;
    }
}
.text-description{
    color: $gray_1;
    text-decoration: none;
    padding-top: 8px;
    display: block;

     @include breakpoint(xs) {
         height: 36px;
         overflow: hidden;
     }
}
.text-description:hover{
    text-decoration: none;
}
.list-group-item{
    background-color: transparent; 
    border: none; 
    padding: 0; 
    margin-bottom:0; 
    min-height: 84px;
}

.loader-holder{
    position: relative;
    text-align: center;
}

.evala-status-icon-container{
    position: absolute;
    right: 15px;
    top: 0;
    img{
        max-width: 30px;

        @include breakpoint(xs) {
            max-width: 15px;
        }
    }
}
//====================== SINGLE EVALA  =========================//
.user-box{
    padding: 34px 0 50px 0;
 
    @include breakpoint(xs) {
      padding: 0px 0 35px 0;
    }

    img{
      position: relative;
      width: 100px;
      height: 100px;
      overflow: hidden;

      @include breakpoint(xs) {
            width: 80px;
            height: 80px;
        }
    }
    .user-name{
      padding: 0 15px;

        h4{
            font-weight: bold;
            font-size: 22px;
            
                @include breakpoint(xs) {
                    font-size: 16px;
                }
            }
      }
    
}
.evala-single .bgr-white{
    padding-top: 50px;
}

.bgr-white.border-b {
    border-bottom: 1px solid #cccccc;
}

.bgr-white {
    background: #ffffff;
}
